<!DOCTYPE html>
<html ng-app="angularApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=deivice-width, initial-scale=1"/>

    <title>Pellego | Task 1 | FlexBox</title>

    <link rel="stylesheet" type="text/css" href="styles/main.css"/>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angularApp.js"></script>
    <script src="scripts/main.js"></script>
</head>

<body ng-controller="CardController">

<header>
    <div class="header_main_container">
        <div class="header_image">
            <img src="images/pellego.png">
        </div>
        <div class="header_center">
            <h1> movie collection </h1>
        </div>
        <div class="header_right">
            <div class="navLinks" ng-repeat="card in navCards">
                <a href="#" class="navLink">{{card.page}}</a>
            </div>
        </div>
    </div>

</header>

<div class="parent">
    <div id="card" class="item" ng-repeat="card in movieCards | orderBy: sorting" ng-hide="checked" ng-show="restoreChecked">
        <div class="inner_item">
            <div class="movie_content">
                <p>Movie {{ $index + 1}} : {{card.title}}</p>
                <p class="director">Director: {{card.director}}</p>
                <p>Genre: {{card.genre}}</p>
            </div>
            <div class="removeBox">
                <button ng-click="checked=true">Hide Movie Card</button>
            </div>
        </div>
    </div>
</div>



<br/><br/>

<div class="bottomHalf">

    <div>
        <h1>
            Restore hidden cards
        </h1>
        <p>
            Click on the "show" link to see all cards.
        </p>
        <button ng-click="(restoreChecked=true) && (checked=false)">
            Show
        </button>
        <p>
            Click on the "hide" link to hide all cards.
        </p>
        <button ng-click="(checked=true) && (restoreChecked=false)">
            Hide
        </button>
    </div>

    <br/><br/>

    <div>
        <form ng-submit="addMovieTitle(myTitle)">
            <input type="text" placeholder="Enter Title" ng-model="myTitle">
            <button type="submit">Add</button>
        </form>
        <form ng-submit="addMovieDirector(myDirector)">
            <input type="text" placeholder="Enter Director" ng-model="myDirector">
            <button type="submit">Add</button>
        </form>
        <form ng-submit="addMovieGenre(myGenre)">
            <input type="text" placeholder="Enter Genre" ng-model="myGenre">
            <button type="submit">Add</button>
        </form>
    </div>



    <br/><br/>

    <div>
        <h2 class="title">
            sort by genre
        </h2>
        <button class="button" ng-click="sortBy('director')">
            director
        </button>
        <button class="button" ng-click="sortBy('title')">
           title
        </button>
        <button class="button" ng-click="sortBy('genre')">
           genre
        </button>
    </div>



    <br/><br/><br/><br/>


    <div>
        <form ng-submit="addName(myName)">
            <input type="text" placeholder="Enter Name" ng-model="myName">
            <button type="submit">Add</button>
        </form>
        <ul>
            <li ng-repeat="name in names">{{ name }}</li>
        </ul>
    </div>

    <br/><br/>

    <input type="checkbox" ng-model="hideSalary"/> hide salary
    <br/><br/>
    <table>
        <thead>
            <th>Name</th>
            <th>Gender</th>
            <th>City</th>
            <th ng-hide="hideSalary">Salary</th>
        </thead>
        <tbody ng-repeat="employee in employees">
            <td>{{ employee.name}} </td>
            <td>{{ employee.gender}} </td>
            <td>{{ employee.city}} </td>
            <td ng-hide="hideSalary">{{ employee.salary}} </td>
        </tbody>
    </table>

    <br/><br/>

    <!--- attempt to display one genre -->

    <button class="button" ng-click="sortComedy(genre)" ng-model="sortComedy">
        show comedy movies
    </button>
    <br/><br/>
    <div class="genreSorter" ng-repeat= "genre in genreCards" ng-show="sortComedy(genre)">
        <p>{{genre.genre}}</p>
    </div>

</div>



<!--

<div ng-controller="ListController">
    <ul class="categories" ng-controller="CategoryController">

    </ul>
</div>

<div class="tabs" ng-controller="tabsController">
    <ul>
        <li ng-click="tab(1)">
            Recent items
        </li>
        <li ng-click="tab(2)">
            Popular items
        </li>
    </ul>
</div>

<div class="container">
    <div class="left" ng-controller="ItemController">
        <div class="itemList">
            <div class="item" ng-repeat="item in items | filter:search | orderBy: sort">
                <h3 ng-click="viewDetail(item)">
                    {{item.title}} - {{item.date}}
                </h3>
                <p>
                    {{item.description}}
                </p>
                <a ng-click="viewDetail(item)">View full item details</a>
            </div>
        </div>
    </div>
</div>

<script src="scripts/angular.min.js"></script>

<div>
    <button ng-click="sortBy('director')">
        director
    </button>
    <button ng-click="sortBy('title')">
       title
    </button>
    <button ng-click="sorting = 'genre'">
       genre
    </button>
</div>

Click me for genre: <input type="checkbox" ng-model="checked"><br/>
Click me for movie: <input type="checkbox" ng-model="movieChecked"><br/>
<div>
    Show:
    <div ng-show="checked">
        I show up when your checkbox is checked.
    </div>
</div>
<div>
    Hide:
    <div ng-hide="checked">
        I hide when your checkbox is checked.
    </div>
</div>


<div>
    Show:
    <div ng-show="movieChecked">
        I show up when your checkbox is checked.
    </div>
</div>
<div>
    Hide:
    <div ng-hide="movieChecked">
        I hide when your checkbox is checked.
    </div>
</div>



<div ng-show="true">joe</div>
<div ng-show="3>=2">yo</div>







<div ng-controller="TestController">
    <form ng-submit="addText(myText)">
        <input type="text" placeholder="Enter film title" ng-model="myText">
        <button type="submit">Add</button>
    </form>
    <ul>
        <li ng-repeat="text in arrayText">{{ text }}</li>
    </ul>
</div>





<p id="demo"></p><br>
<p>add a new fruit</p>
<button onclick="fruitPusher()">Push fruit</button>

<form>
    <input type="text" placeholder="Enter film title">
    <button type="submit">Add</button>
</form>

<script>
        var fruit = ["Banana", " Orange", " Kiwi", " StarFruit"];
        document.getElementById("demo").innerHTML = fruit;

        function fruitPusher() {
        fruit.push(" Kiwi", " Lemon", " Pineapple");
        console.log(fruit);
        }

</script>

 <div class="removeButton">
                    <img ng-click="removeCard($index)" src="images/xButton.png">
                </div>
-->

</body>
</html>